.Notification {
  position: fixed;
  bottom: -100%;
  width: 100%;
  padding: 10px 15px;
  background-color: white;
  margin-right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: transform 2.5s ease;
  box-sizing: border-box;
  z-index: 25;
}

.Notification i {
  border-radius: 50px;
  font-size: 2.5em;
}

.Notification span {
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  width: 100%;
  cursor: context-menu;
}

.OpenNotification {
  animation: fromBottomToTop 0.7s ease-in-out forwards;
}

.CloseNotification {
  animation: fromTopToBottom 0.7s ease forwards;
}

@media (min-width: 600px) {
  .Notification {
    width: 300px;
    top: 80px;
    bottom: auto;
    right: -100%;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
  }

  .OpenNotification {
    animation: fromRightToLeft 0.7s ease-in-out forwards;
  }

  .CloseNotification {
    animation: fromLeftToRight 0.7s ease forwards;
  }
}

@keyframes fromRightToLeft {
  0% {
    right: -100%;
  }
  30% {
    right: -50%;
  }
  100% {
    right: 0;
  }
}

@keyframes fromLeftToRight {
  0% {
    right: 0;
  }
  30% {
    right: -50%;
  }
  100% {
    right: -100%;
  }
}

@keyframes fromBottomToTop {
  0% {
    bottom: -100%;
  }
  30% {
    bottom: -50%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes fromTopToBottom {
  0% {
    bottom: 0;
  }
  30% {
    bottom: -50%;
  }
  100% {
    bottom: -100%;
  }
}
